<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生系统管理</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div id="container">
        <%- include('./common/head') %>
            <div class="main">
                <div class="main-centent">
                    <%- include('./common/menu') %>
                        <div class="body">
                                <%-include('./common/searchUser') %>
                            <div class="creditScores">

                                <% for(var i = 0; i< list.length; i++){%>
                                    <div class="scoresInfo">
                                        <div class="imgS">
                                            <img src="/images/<%= list[i].headportrait %>" alt="">
                                        </div>
                                        <div class="font name">
                                            <span>姓名：</span>
                                            <span><%= list[i].name %></span>
                                        </div>
                                        <div class="font totalPoints ">
                                            <span>单科成绩：</span>
                                            <span>大学函数学：</span><span><%= list[i].maths %>&emsp;</span>
                                            <span>大学英语：</span><span><%= list[i].english %>&emsp;</span>
                                            <span>毛概：</span><span><%= list[i].thought %></span>

                                        </div>
                                        <div class="font totalPoints ">
                                            <span>专业成绩：</span>
                                            <span>Photoshop Cs：</span><span><%= list[i].photoshopCs %>&emsp;</span>
                                            <span>UI设计：</span><span><%= list[i].UI %>&emsp;</span>
                                            <span>Linux：</span><span><%= list[i].Linux %></span>
                                        </div>
                                        <div class="font totalPoints ">
                                            <span>总成绩：</span>
                                            <span><%= list[i].maths + list[i].english + list[i].thought + list[i].photoshopCs + list[i].UI + list[i].Linux %></span>
                                        </div>
                                        <div class="font averageScores">
                                            <span>平均成绩：</span>
                                            <span><%=parseInt((list[i].maths + list[i].english + list[i].thought + list[i].photoshopCs + list[i].UI + list[i].Linux) / 6)  %></span>
                                        </div>
                                        <div class="font creditHour ">
                                            <span>学分：</span>
                                            <span><%= list[i].creditHour %></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <nav>
                                <ul class="pagination">
                                    <li class="<%= currentPage == (i-1) ? 'disabled' : '' %>disabled">
                                        <a href="/users/creditScores.html?page=<%= currentPage - 1 < 1 ? 1 : currentPage - 1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <% for (var i=0; i < totalPage; i++) {%>
                                        <li class="<%= currentPage === (i+1) ? 'active' : '' %>">
                                            <a href="/users/creditScores.html?page=<%= i + 1 %>&pageSize=<%= pageSize %>"><%= i + 1 %></a>
                                        </li>
                                        <% } %>

                                            <li>
                                                <a href="/users/creditScores.html?page=<%= currentPage + 1 > totalPage ? totalPage : currentPage + 1 %>&pageSize=<%= pageSize %>"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                </ul>
                            </nav>

                        </div>
                </div>
            </div>
            <%- include('./common/foot') %>
    </div>
</body>

</html>