<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生系统管理</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div id="container">
        <%- include('./common/head') %>
            <div class="main">
                <div class="main-centent">
                    <%- include('./common/menu') %>
                        <div class="body">
                            <%-include('./common/searchUser') %>
                            <div class="tables">
                                <div class="bs-example" data-example-id="contextual-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>姓名</th>
                                                <th>年龄</th>
                                                <th>性别</th>
                                                <th>院系</th>
                                                <th>班级</th>
                                                <th>入学时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i = 0; i < list.length; i++){ %>
                                                <tr class="active">
                                                        <th scope="row"><%= i+1 %></th>
                                                        <td><%= list[i].name %></td>
                                                        <td><%= list[i].age %></td>
                                                        <td><%= list[i].sex %></td>
                                                        <td><%= list[i].department %></td>
                                                        <td><%= list[i].grade %></td>
                                                        <td><%= list[i].timeOfEnrollment %></td>
                                                        <td>
                                                            <!-- <a href="/setStudentInfo.html?id=<%= list[i]._id %>">修改</a> -->
                                                            <a href="/deletestudent?id=<%= list[i]._id %>">删除</a>
                                                        </td>
                                                    </tr>
                                                
                                            
                                           <% } %>
                                           <tr>
                                                <td>
                                                    <a class="button btn btn-primary btn-sm" href="/users/setStudentInfo.html %>">新增</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="page">
                                <ul class="pager">
                                    <li class="previous"><a href="/users/studentInfo.html?page=<%= currentPage - 1 < 1 ? 1:currentPage -1 %>&pageSize=<%= pageSize  %>"><span aria-hidden="true">&larr;</span> Older</a></li>
                                    <li class="next"><a href="/users/studentInfo.html?page=<%= currentPage + 1 > totalPage ? totalPage : currentPage + 1 %>&pageSize=<%= pageSize %>">Newer <span aria-hidden="true">&rarr;</span></a></li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
            <%- include('./common/foot') %>
    </div>
</body>

</html>